<h1>{{ title }} game</h1>
<h2 class="alert alert-warning text-center">Sıradaki player: {{ mark }}</h2>

<button (click)="newGame()" class="btn btn-primary w-100">New Game</button>
<div class="row">
  <div
    (click)="setMark(index)"
    class="col-md-4 text-center text-warning"
    style="border: 1px solid #ccc; height: 150px; cursor: pointer"
    *ngFor="let game of games; let index = index"
  >
    <span style="font-size: 80px">
      {{ game }}
    </span>
  </div>
</div>
<hr />
<button
  *ngFor="let m of moves; let index = index"
  (click)="returnSelectMove(index)"
  class="btn btn-danger mt-1 mx-1"
>
  {{ index + 1 }}. Hamle
</button>
